html, body, .container { //this line is quite important, otherwise it can't show up
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%; // this line is a key for map showing up
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
#map {
    height: 100%;
}
#filter {
    margin-top: 5%;
    margin-bottom: 3%;
}
#search {
    font-size: 1.5rem;
    background-color: #153856;
    margin-top: 0;
}
#search input, #search button {
    background-color: #153856;
    color: white;
}
.infowindow img{
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 250px;
}
.infowindow {
    width: 280px;// not that responsive!
    left: 10px;
}
.infowindow h4 {
    text-align: center;
}
.infowindow .glyphicon-map-marker {
    color: blue;
}
.infowindow .glyphicon-heart {
    color: red;
}
.toggle-menu {
    display: inline;
    border: 0;
}
.toggle-menu button{
    border-radius: 4px;
    border-width: 1px;
    border-color: white;
}
#filter-zone {
    background-color: white;
    z-index: 4;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 38px;
    left: 0;
    padding: 0 10px;
}
.map-error {
    position: absolute;
    left: 40%;
    top: 40%;
}
.list-group-item:hover {
    background-color: #777;
    color: white;
}
